[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_33000C000850534E4E313120-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


# # https://www.klipper3d.org/Measuring_Resonances.html
[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
  150,150,40 # an example

#[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 43.2 # suggested max_accel <= 5400 mm/sec^2
#shaper_type_y = mzv
#shaper_freq_y = 29.0 # suggested max_accel <= 2500 mm/sec^2

# mzv
#[printer]
#max_accel: 2500
#max_accel_to_decel: 2500


[input_shaper]
shaper_type_x = zv
shaper_freq_x = 73.8 # suggested max_accel <= 21200 mm/sec^2
shaper_type_y = zv
shaper_freq_y = 113.8 # suggested max_accel <= 50500 mm/sec^2

# zv
[printer]
max_accel: 3000
max_accel_to_decel: 3000

#Values for /tmp/resonances_x_20210902_142657.csv
#Fitted shaper 'zv' frequency = 73.8 Hz (vibrations = 31.9%, smoothing ~= 0.035)
#To avoid too much smoothing with 'zv', suggested max_accel <= 21200 mm/sec^2
#Fitted shaper 'mzv' frequency = 43.0 Hz (vibrations = 7.0%, smoothing ~= 0.110)
#To avoid too much smoothing with 'mzv', suggested max_accel <= 5400 mm/sec^2
#Fitted shaper 'ei' frequency = 60.4 Hz (vibrations = 10.6%, smoothing ~= 0.088)
#To avoid too much smoothing with 'ei', suggested max_accel <= 6800 mm/sec^2
#Fitted shaper '2hump_ei' frequency = 53.6 Hz (vibrations = 0.9%, smoothing ~= 0.188)
#To avoid too much smoothing with '2hump_ei', suggested max_accel <= 3200 mm/sec^2
#Fitted shaper '3hump_ei' frequency = 54.0 Hz (vibrations = 0.0%, smoothing ~= 0.281)
#To avoid too much smoothing with '3hump_ei', suggested max_accel <= 2000 mm/sec^2
#Recommended shaper is 2hump_ei @ 53.6 Hz
#
#Values for /tmp/resonances_y_20210902_143003.csv
#Fitted shaper 'zv' frequency = 113.8 Hz (vibrations = 38.4%, smoothing ~= 0.017)
#To avoid too much smoothing with 'zv', suggested max_accel <= 50500 mm/sec^2
#Fitted shaper 'mzv' frequency = 29.0 Hz (vibrations = 12.5%, smoothing ~= 0.242)
#To avoid too much smoothing with 'mzv', suggested max_accel <= 2500 mm/sec^2
#Fitted shaper 'ei' frequency = 38.4 Hz (vibrations = 13.3%, smoothing ~= 0.218)
#To avoid too much smoothing with 'ei', suggested max_accel <= 2700 mm/sec^2
#Fitted shaper '2hump_ei' frequency = 39.0 Hz (vibrations = 5.5%, smoothing ~= 0.355)
#To avoid too much smoothing with '2hump_ei', suggested max_accel <= 1500 mm/sec^2
#Fitted shaper '3hump_ei' frequency = 82.2 Hz (vibrations = 4.3%, smoothing ~= 0.121)
#To avoid too much smoothing with '3hump_ei', suggested max_accel <= 4900 mm/sec^2
#Recommended shaper is 3hump_ei @ 82.2 Hz



#####################################################################
# 	Extruder
#####################################################################

#	E0 on MOTOR6
[extruder]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
# Bondtech LGX
# https://www.bondtech.se/product-category/upgrade-kits/lgx/
# rotation_distance = full_steps_per_rotation * microsteps / steps_per_mm
# rotation_distance = 200 * 16 / 400
#rotation_distance = 8
# The above calculation assumes the following parameters:
# stepper motor is a 1.8 degrees motor hence 200 as full steps per rotation;
# microsteps are set to 16;
# e-steps value recommended for the LGX is 400.
# Check the following link to know more:https://www.klipper3d.org/Rotation_Distance.html

##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
# -- Afterburner with standard pancake stepper
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:17				#BMG Gear Ratio
#gear_ratio: 44:14, 37:17

#rotation_distance: 51.5
rotation_distance: 23.1132

microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA2
##	Validate the following thermistor type to make sure it is correct
sensor_type: NTC 100K beta 3950
sensor_pin: PF4
min_temp: 20
max_temp: 270
max_power: 1.0
min_extrude_temp: 170

#max_extrude_only_velocity: 2000

##	Try to keep pressure_advance below 1.0
#pressure_advance: 0.10215
#pressure_advance: 0.10905

pressure_advance: 0.0986
#pressure_advance: 0
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

##	E0 on MOTOR6
[tmc2209 extruder]
uart_pin: PE1
interpolate: false
#run_current: 0.5
run_current: 0.55
#hold_current: 0.4
hold_current: 0.44
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## Y Stepper on MOTOR0(A Motor)
[stepper_y]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 300
position_max: 300
#homing_speed: 25   #Max 100
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC4
interpolate: True
run_current: 0.9
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## X Stepper on MOTOR1 (B Motor)
[stepper_x]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
endstop_pin: PG6
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 100  #Max 100
#homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PD11
interpolate: True
run_current: 0.9
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1
[stepper_z]
step_pin: PF11
#dir_pin: PG3
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: PG10
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_max: 275
position_min: -5
homing_speed: 80
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left on MOTOR3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on MOTOR4
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.8
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on MOTOR5
[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 0.8
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 20
max_temp: 119

#####################################################################
# 	Probe
#####################################################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
pin: ~PB7
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0
lift_speed: 30
samples: 5
#samples_result: median
samples_result: average
sample_retract_dist: 5.0
samples_tolerance: 0.005
samples_tolerance_retries: 4

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PA8
#kick_start_time: 0.5
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PD12
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[heater_fan exhaust_fan]
#	Exhaust fan - CNC_FAN3
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
# Chamber Lighting - HE1 Connector (Optional)
pin: PA3
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 18000

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
#home_xy_position:-10,-10
#home_xy_position:205.50,300
home_xy_position:207,300
speed:100
z_hop:10

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

#--------------------------------------------------------------------
##	Gantry Corners for 300mm Build
gantry_corners:
	-60,-10
	360,370
#	Probe points
points:
	50,25
	50,225
	250,225
	250,25
#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[temperature_sensor Octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host

#####################################################################
# 	Displays
#####################################################################

[display_status]

#	mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel fysetc_mini12864]
#	To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.5
initial_GREEN: 0.1
initial_BLUE: 0.0
color_order: RGB
#--------------------------------------------------------------------

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 25,35.0
mesh_max: 225.0,220
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[virtual_sdcard]
path: /home/pi/sdcard

#####################################################################
#  Nozzle Scrub
#####################################################################
[include nozzle_scrub.cfg]

#####################################################################
# 	Macros
#####################################################################
[include macros.cfg]

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.118
#*# pid_ki = 1.040
#*# pid_kd = 426.440
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.608
#*# pid_ki = 1.108
#*# pid_kd = 86.764
#*#
#*# [stepper_z]
#*# position_endstop = 0.100
